body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.mt-15
{
    margin-top: 15px;
}
.ml-5{
  margin-left: 5px;
}
.mr-5{
  margin-right: 5px;
}
.flex{
  display: flex;
  justify-content: space-between;
}
.pannel-icon{
  cursor: pointer;;
}
.pannel-icon:hover{
  color: red;
}
